@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
  font-family: 'Lato', sans-serif;
}
#one{
	font-weight: bold;
	position: absolute;
	left: 50.5px;
	
}
#pa{
	position: absolute;
	left: 50.5px;
}
#pb{
	background-color: black;
	color: white;
	font-size: 135%;
    
}
#pp{
	position: absolute;
	left: 723px;
	top: -55px;
}