@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
  font-family: 'Lato', sans-serif;
}
#one{
	font-weight: bold;
	position: absolute;
	left: 50.5px;
	
}
#pa{
	position: absolute;
	left: 50.5px;
    font-family: 'Lato';
}
#pb{
	background-color: black;
	color: white;
	font-size: 135%;
    padding: 6px;
    
    
}
#pp{
	position: absolute;
	left: 780px;
	top: -70px;
}
#pp1{
    width: 45%;
}
#ppp{
    margin-left: 1.8%;
    word-spacing:4px;

}