@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{background-color: hsl(0, 100%, 100%);
    font-size: 3em;
    font-style: normal;
}

*{margin: 0%;
  padding: 0%;
  box-sizing: content-box;
  font-family: 'Lato',sans-serif;}

  .top{
    overflow: hidden;
    background-color:rgb(22, 19, 19);
    position: sticky;
    
}
.top a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20px;
}
.top a:hover{
        background-color: white;
        color: black;}
#head{float: left;}

.pic{
    float: left;
}
.form{
    text-align: center;
    border-radius: 5px
}
#img1{
    border-right: 5px solid black;
    float: left;
}

.or p{
    font-size: medium;
}
.name{
    font-size:large;
    text-align: center;
}
.reg_log {
    display: block;


}
.reg_log a{

    color: black;
    position: relative;
    padding: 30px;
    top: -10px;
    text-decoration: none;
    font-size: 30px;
}

@keyframes register {
    0% {color: #000;}
    25% {color: rgb(113, 113, 113);}
    100% {color: rgb(233, 233, 233);}
}
.reg_log a {
    animation-name: register;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

.else{
    background-color:rgb(22, 19, 19);
    border-radius: 10px;   

}
.else a{
    color: white;
    padding:20px 20px 40px 20px;
    position: relative;
    top: -10px;
    text-decoration: none;
    font-size: 20px;
}
.else:hover{
    background-color: white;
}
.else a:hover {
    color: black;
}


input[type=submit]{
    background-color: rgb(22, 19, 19);
    color: white;
    border-style: outset;
    border-color: grey;
    font: 20px;
    font-family: 'Lato',sans-serif;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    }
input[type=submit]:hover{
    background-color: white;
    color: black;
}
/* scroll bar */

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius:2px 2px 10px 10px;
  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:   rgb(109, 109, 109);
  }
  
  /* scroll bar */