@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: hsl(0, 3%, 6%);
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    font-style: normal;
    

}
.top{
    overflow: hidden;
    border: 3px solid white;
    color: white;
    
}

#head{
   float: left;
   color: white;

}
#help{
    float: right;
    color: white;
}