@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
  font-family: 'Lato', sans-serif;
  --bg-color: white;
  --our-color: rgb(241, 51, 51);
}


.top {
    overflow: hidden;
    background-color: var(--our-color);

  }

.top a{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 18px;
  
}


.top a:hover {
    color:black;
    background-color: white;
}

#bgimg {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.searchbar {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 18px;
  font-size: 18px;
  border-radius: 10px;

  
}

#searchbtn {
  top: 75%;
  border-radius: 30px;
  border-color: rgb(214, 204, 204);

}

#searchbtn:hover {
  color: white;
  background-color: var(--our-color);
}

#words {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 100px;  
  z-index: 1;
}

#btn:hover {
  color: red;
}